.bg-img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-wrap {
  border-radius: 10px;
}

.login-wrap .content-top-agile {
  padding: 20px 30px;
  text-align: center;
}

.login-wrap .content-top-agile p {
  font-size: .9rem;
  color: #999;
}
